#top-bar {
    width: 100%;
    height: 48px;
    background-color: gray;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
#main-content-wrapper {
    width: 50%
}

#left-side-scroll {
    min-width: 15%;
    width: auto;
}

#right-side-scroll {
    min-width: 15%;
    width: auto;
}

.section-title {
    
}

.description {
    
}
}